<%- include('./partials/layout.ejs') %>

    <div class="bg-gray-900 flex h-screen " style="overflow:hidden;">
       <nav class=" w-1/5 " style="border-right: 1px solid gray; overflow-y: hidden;">
        <div class="w-full px-3 py-2 bg-gray-700 max-h-13">
            <!-- where icons will be  -->
 <span id="roomname"> </span>
        </div>
        <ul id="users" class="text-left p-2">
            
      
        </ul>
       </nav>

       <div class="w-full relative" style="overflow: auto;">

        <div class="w-full px-3 py-2 bg-gray-700 max-h-13">
            <!-- where users info will be  -->
            Lorem ipsum dolor sit amet consectetur adipisicing 

                   </div>
           
        
            <div class="text mb-auto" id="message-box" style="overflow: auto; height:35.5em;"  >

        
                <!-- messages go here   -->

            </div>

            
            <div class=" flex justify-center w-full  bg-gray-700 px-3 py-2 " >
                <form id="form" class="w-4/5 flex items-center justify-between">
                    <div class="w-full">
                            <input
                                type="text"
                                class="px-3 py-2 w-full rounded-full bg-gray-500"
                                style="border: none; outline:none;"
                                name="message"
                                id="msg"
                            >
                
                      
                    </div>
            
                    <div class=" ml-3 flex justify-end">
                        <button class="bg-blue-800 text-white uppercase rounded-full text-xs font-semibold px-3 py-2 hover:bg-blue-900 ">
                            
                            <%- include('./partials/sendsvg.ejs') %>
            
                        </button>
                    </div>
            
                </form>
            </div>
           
        
       </div>
    </div>
    
<%- include('./partials/footer.ejs') %>
