<%- include('./partials/layout.ejs') %>

    <div class="bg-gray-900 flex h-screen ">
       <nav class=" w-2/5 " style="border-top: 1px solid gray; border-right: 1px solid gray; ">
        <div class="w-full px-3 py-2 bg-gray-700 h-13">
 Lorem ipsum dolor sit amet consectetur adipisicing 
        </div>
        <ul class="">
            <li>
                john
            </li>
            <li>
                tom
            </li>
            <li>
                eran
            </li>
            <li>
                ayo
            </li>
        </ul>
       </nav>

       <div class="w-full relative">

        <div class="w-full px-3 py-2 bg-gray-700 h-13">
            Lorem ipsum dolor sit amet consectetur adipisicing 

                   </div>

            <div class="text mb-auto">

            </div>
            
            <div class="absolute bottom-0 left-0 flex justify-center w-full  bg-gray-700 px-3 py-2">
                <form action="#" class="w-4/5">
                    <div>
                            <input
                                type="text"
                                class="px-3 py-2 w-full border border-white rounded-full bg-gray-500"
                                name="message"
                                id="messaage"
                            >
                
                      
                    </div>
                </form>
            </div>
       </div>
    </div>
    
<%- include('./partials/footer.ejs') %>